/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  background-color: #e8e8e8;
}

.title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  line-height: 40px;
  opacity: 0.6;
  color: #273d46;
}

.subtitle {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #273d46;
}

.photo {
  background: url("../img/icons/light-man_copy.png") no-repeat;
  width: 821px;
  height: 541px;
  box-shadow: 0px 15px 65px rgb(15, 16, 16);
  margin: 50px 0px 0px 500px;
}

.description {
  font-size: 24px;
  color: #273d46;
  opacity: 0.8;
  line-height: 40px;
  text-align: left;
  width: 736px;
  height: 257px;
  margin: 50px 0px 0px 550px;
}

.list {
  margin: 50px 0px 0px 550px;
  /* padding: 0px 0px 0px 30px; */
  font-size: 20px;
  line-height: 36px;
}

.about {
  font-family: "Arial MT";
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.459);
  color: #273d46;
  background: url("../img/icons/check_icon.png") left no-repeat;
  padding: 0px 0px 0px 30px;
}

.details {
  font-family: "Arial MT";
  color: #80b7b3;
  background: url("../img/icons/check_icon.png") left no-repeat;
  font-style: italic;
  padding: 0px 0px 0px 30px;
}

.advantages {
  font-family: "Arial MT";
  color: #273d46;
  background: url("../img/icons/check_icon.png") left no-repeat;
  font-weight: bold;
  padding: 0px 0px 0px 30px;
}

.payment-info {
  font-family: "Arial MT";
  color: #273d46;
  background: url("../img/icons/check_icon.png") left no-repeat;
  opacity: 0.3;
  text-decoration: line-through;
  padding: 0px 0px 0px 30px;
}

a {
  display: block;
  font-family: "Arial MT";
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  margin: 50px 1200px 1300px 550px;
  border-radius: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 6px 40px rgba(128, 183, 179, 0.884);
  background: url("../img/icons/Shape_2.png") right rgba(24, 181, 164, 0.5)
    no-repeat;
}

a > p {
  color: white;
}
